@import './variable.scss';

.section-profile {
    width           : 100%;
    min-height      : 100%;
    display         : flex;
    justify-content : center;
    background-color: $primary-color-ligth;
}

.profile {
    padding         : 0 14px 58px;
    width           : 100%;
    min-height      : auto;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    background-color: $base-color;

    @media (min-width: 768px) {
        padding                   : 100px 64px;
        flex-direction            : row;
        gap                       : 32px;
        border-top-left-radius    : 25%;
        border-bottom-right-radius: 25%;
    }

    &__image {
        margin  : 24px 0;
        position: relative;

        img {
            max-width: 100%;
            height   : auto;
        }
    }

    &__description {
        width          : 100%;
        display        : flex;
        flex-direction : column;
        justify-content: flex-start;
        align-items    : flex-start;
    }

    &__name {
        margin-bottom: 16px;
        color        : $base-text-color;
        font-style   : normal;
        font-weight  : 800;
        font-size    : 40px;
        line-height  : 48px;
    }

    &__info {
        display    : flex;
        align-items: flex-start;
    }

    &__text {
        display       : flex;
        flex-direction: column;
        align-items   : flex-start;

        &:not(:last-child) {
            margin-right: 32px;
        }

        .text-key {
            color      : $secondary-color;
            font-style : normal;
            font-weight: bold;
            font-size  : 14px;
            line-height: 18px;
        }

        .text-value {
            color      : $base-text-color;
            font-style : normal;
            font-weight: 500;
            font-size  : 14px;
            line-height: 18px;
        }
    }

    &__about {
        margin-top    : 32px;
        display       : flex;
        flex-direction: column;
        align-items   : flex-start;

        .about-title,
        .about-text {
            color      : $base-text-color;
            font-style : normal;
            font-weight: 800;
            font-size  : 20px;
            line-height: 24px;
        }

        .about-text {
            font-weight: normal;
            font-size  : 15px;
        }
    }
}