@import './variable.scss';

.section-profile {
    width           : 100%;
    min-height      : 100%;
    display         : flex;
    justify-content : center;
    background-color: $primary-color-ligth;
}

.profile {
    padding         : 0 14px 58px;
    width           : 100%;
    min-height      : auto;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: $base-color;

    @media (min-width: 768px) {
        padding                   : 100px 64px;
        flex-direction            : row;
        align-items               : flex-start;
        gap                       : 32px;
        border-top-left-radius    : 25%;
        border-bottom-right-radius: 25%;
    }

    &__image {
        margin  : 24px 0;
        position: relative;

        &::before,
        &::after {
            position        : absolute;
            content         : '';
            bottom          : 58px;
            right           : 3.9px;
            width           : 32px;
            height          : 32px;
            background-color: $primary-color-dark;
            border-radius   : 10px;
            transform       : matrix(0.37, -0.93, -0.93, -0.37, 0, 0);

            @media (min-width: 768px) {
                right        : none;
                left         : -48px;
                bottom       : 71px;
                width        : 52px;
                height       : 52px;
                border-radius: 16px;
                transform    : rotate(-111.94deg);
            }
        }

        &::after {
            bottom          : -10px;
            right           : 7px;
            width           : 56px;
            height          : 56px;
            background-color: $secondary-color-dark;
            border-radius   : 16px;
            transform       : matrix(0.62, 0.79, 0.79, -0.62, 0, 0);

            @media (min-width: 768px) {
                right        : none;
                left         : -48px;
                bottom       : -27px;
                width        : 85px;
                height       : 85px;
                border-radius: 24px;
                transform    : rotate(128.05deg);
            }
        }

        img {
            max-width: 100%;
            height   : auto;
        }
    }

    &__description {
        width          : 100%;
        display        : flex;
        flex-direction : column;
        justify-content: flex-start;
        align-items    : flex-start;
    }

    &__name {
        margin-bottom: 16px;
        color        : $base-text-color;
        font-style   : normal;
        font-weight  : 800;
        font-size    : 40px;
        line-height  : 48px;
    }

    &__info {
        display    : flex;
        align-items: flex-start;
    }

    &__text {
        display       : flex;
        flex-direction: column;
        align-items   : flex-start;

        &:not(:last-child) {
            margin-right: 32px;
        }

        .text-key {
            color      : $secondary-color;
            font-style : normal;
            font-weight: bold;
            font-size  : 14px;
            line-height: 18px;
        }

        .text-value {
            color      : $base-text-color;
            font-style : normal;
            font-weight: 500;
            font-size  : 14px;
            line-height: 18px;
        }
    }

    &__about {
        margin-top    : 32px;
        display       : flex;
        flex-direction: column;
        align-items   : flex-start;

        .about-title,
        .about-text {
            color      : $base-text-color;
            font-style : normal;
            font-weight: 800;
            font-size  : 20px;
            line-height: 24px;
        }

        .about-text {
            font-weight: normal;
            font-size  : 15px;
        }
    }
}