$base-color        : #ffffff;
$base-color-medium : #DED9E4;
$base-color-dark   : #DED9E4;

$base-text-color       : #303030;
$base-text-color-ligth : #9F9F9F;
$base-text-color-medium: #AFAFAF;


$primary-color       : #E0CFF8;
$primary-color-ligth : #F8F3FF;
$primary-color-medium: #9993BD;
$primary-color-dark  : #8E43ED;

$secondary-color                  : #AA7ECD;
$secondary-color-super-extra-ligth:#F2E9FF;
$secondary-color-extra-ligth      : #E0CFF8;
$secondary-color-ligth            : #D9BBFF;
$secondary-color-dark             : #F18BC3;

$complite-color     : #E1FEE8;
$complite-color-dark: #3DD73A;
$complite-color-not-valid: #EF5DA8;